<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录</title>
</head>
<body>
  <h2>自定义登录页面</h2>
  <form action="/authentication/form" method="post">
    <table>
      <tr>
        <td>用户名:</td>
        <td><input type="text" name="username"></td>
      </tr>
      <tr>
        <td>密码:</td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <label style="color: red;" th:if="${param.error}" th:text="密码错误" id="lab"></label>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">登录</button>
        </td>
      </tr>
    </table>
  </form>
</body>
</html>
